
.page-wrapper{
	background-position: 0 150px;
	background-repeat: repeat-x;
}

body{
	background-color: #252525;
}

body.studio{
	.page-wrapper{
		color: #000;
		a{
			color: #000;
		}
		background-color: #d5d5d5;
		background-image: url('../img/studio/studio-page-background-seamless-fade-full-res.jpg');
	}
}

body.rehearsal{
	.page-wrapper{
		color: #fff;
		a{
			color: #000;
		}
		background-color: #73141f;
		background-image: url('../img/rehearsal/Rehearsal-page-background-seamless-fade-full-res.jpg');
	}
}