/* ------------ */
/* Content */
/* ------------ */

.page-heading{
	position: absolute;
	top: -2.5em;
	border-bottom: 3px solid #fff;
}

body.body-booking{
	.content{
		overflow: hidden;
	}
}

.content{
	width: 100%;
	max-width: $max-page-width;
	margin: 0 auto;
	position: relative;
	padding: 1em 1em;
	padding-left: $gutters;
	padding-right: $gutters;
	//color: #fff;

	section.details{
		position: relative;
		border-bottom-color: #c5c5c5;
		border-bottom-color: $light-shade;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		padding: 0em 0 1em 0;
	}
	section.details-last{
		border-bottom-width: 0px;
	}

	.thumb-col{
		position: relative;
		float: left;
		top: 7px;
			width: 100%;
			max-width: 240px;
		@media screen and (min-width: $tablet-min){
			max-width: 1240px;
			width: 35%;
			padding-right: $gutters*1.5;
		}
		img{
			max-width: 100%;
			height: auto;
			// NOTE: addition
			padding: $gutters;
			//border: 1px solid #333;
			background-color: $subtle-dark-shade;
			-moz-box-shadow:    1px 1px 4px -1px #000;
			-webkit-box-shadow: 1px 1px 4px -1px #000;
			box-shadow:         1px 1px 4px -1px #000;
		}
		img.no-padding{
			padding: 0px;
		}
	}
	.copy-col{
		position: relative;
		float: left;
			width: 100%;
		@media screen and (min-width: $tablet-min){
			margin-top: -1em;
			width: 65%;
		}
	}

	/* Booking page */

	.price-list, .booking-form{

	}

	.table-row{
		position: relative;
		padding: 0.1em 0;
		margin: 0.1em 0;
		line-height: 1.5em;
		border-bottom-style: solid;
		border-bottom-color: $dark-shade;
			border-bottom-width: 0px;
			width: 300%;
			padding-left: 100%;
			padding-right: 100%;
			left: -100%;
		@media screen and (min-width: $desktop-min){	
			border-bottom-width: 0px;
			width: 100%;
			padding-left: 0%;
			padding-right: 0%;
			left: -0%;
		}
		.table-cell{
			position: relative;
			float: left;
				width: 100%;
			@media screen and (min-width: $tablet-min){
				width: 50%;
			}
			@media screen and (min-width: $desktop-min){
				width: 40%;
			}
			&.left{
					font-size: 1.1em;
					//font-weight: 400;
				@media screen and (min-width: $tablet-min){
					font-size: 1em;
					font-weight: 200;
				}
			}
			&.right{
				// font-style: italic;
				// font-weight: 200;
			}
			&.date{
				select{
					width: auto;
				}
			}
		}
		&.row-even{
			background-color: $subtle-dark-shade;
		}
	}

	.booking-form{
		position: relative;
		padding-top: 1em;
		span.required{
			position: absolute;
			left: -0.6em;
		}
		form{
			input[type="text"], textarea, select{
				background-color: $light-shade;
				border: 1px solid $dark-shade;
				width: 100%;
			}
			input[type="checkbox"]{
				margin-right: 0.5em;
			}
			input[type="submit"]{
				font-style: italic;	
			}
		}
	}
	
	/* Contact page */

	.map-outer{
		@include featured_image_styling;
	}
}