// Variables

$max-page-width: 816px;
$max-outer-width: 5236px;
// $max-outer-width: 1236px;
$gutters: 1em;

// Breakpoints

$tablet-min: 600px;
$desktop-min: 816px;

/* ------------ */
/* Misc Reset */
/* ------------ */

html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin hide{
	position: absolute;
    top: -9999px;
    left: -9999px;
}

.hide{
    @include hide;
}

.hide-for-desktop{
	@media screen and (min-width: $desktop-min){
		position: absolute;
    top: -9999px;
    left: -9999px;
	}
}

/* ------------ */
/* Page level */
/* ------------ */

.full-height-header-wrapper{
	max-width: $max-outer-width;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}

.page-wrapper{
	max-width: $max-outer-width;
	margin: 0 auto;
	min-height: 100%;
}

